<div class="text-center logo-bg">
    <img  src="./assets/web-app-top-left-picture.jpg" alt="image" />
    <!--    <h1>Feringo</h1>-->
</div>

<mat-nav-list>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/trustmessage">
        <mat-icon>message</mat-icon>&nbsp;&nbsp; Trust Message
    <!-- </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/pastortwomessage">
        <mat-icon>message</mat-icon> &nbsp;&nbsp;Pastor 2 Message -->
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/welcometext">
        <mat-icon>local_library</mat-icon>&nbsp;&nbsp; Home Banners
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/quote">
        <mat-icon>import_contacts</mat-icon>&nbsp;&nbsp; Quotes
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/homebanner">
        <mat-icon>theaters</mat-icon>&nbsp;&nbsp;  Banner With Quotes
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/scrolltext">
        <mat-icon>swap_horiz</mat-icon>&nbsp;&nbsp; Scroll Text
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/eventpage">
        <mat-icon>camera</mat-icon>&nbsp;&nbsp; Events
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/donation">
        <mat-icon>paid</mat-icon>&nbsp;&nbsp; Donation
    </a>

    <a mat-list-item routerLinkActive="active-nav" routerLink="/aboutchruch">
        <mat-icon>history</mat-icon>&nbsp;&nbsp; About Us
    </a>

    <a mat-list-item routerLinkActive="active-nav" routerLink="/gallery">
        <mat-icon>picture_in_picture</mat-icon>&nbsp;&nbsp; Gallery
    </a>
	<a mat-list-item routerLinkActive="active-nav" routerLink="/members">
        <mat-icon>supervised_user_circle</mat-icon>&nbsp;&nbsp;Members
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/contacts">
        <mat-icon>contact_mail</mat-icon>&nbsp;&nbsp; Enquiries
    </a>
    <a mat-list-item routerLinkActive="active-nav" routerLink="/articles">
        <mat-icon>message</mat-icon>&nbsp;&nbsp; Articles
    </a>
	<a mat-list-item routerLinkActive="active-nav" routerLink="/admin">
        <mat-icon>perm_identity</mat-icon>&nbsp;&nbsp; Profile
    </a>
   
</mat-nav-list>