<h4 mat-dialog-title>
    <mat-toolbar role="toolbar" class="task-header">
        <span class="font-header">Audio Form</span>
        <span class="fx-spacer"></span>
        <button mat-icon-button class="icon-header">
            <mat-icon mat-list-icon [mat-dialog-close]="false">close</mat-icon>
        </button>
    </mat-toolbar>
</h4>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="AudioFormData" (ngSubmit)="onSubmit()">      
        <br/>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start start">     
           <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Tittle</mat-label>
                    <input matInput placeholder="" required formControlName="tittle" />
                    <mat-error>Tittle  is required</mat-error>
                </mat-form-field>
            </div> 
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Date</mat-label>
                    <input matInput placeholder="" required formControlName="date" />
                    <mat-error>Date  is required</mat-error>
                </mat-form-field>
            </div>
            
        </div>
        <br/>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start start">
            <div fxFlex="50%" fxLayoutAlign="center center">
                <button *ngIf="image_path == ''" type="button" mat-raised-button (click)="fileInput.click()">{{audio_image}}</button>
                <input hidden #fileInput type="file" id="file" (change)="fileProgress($event, 'audio_image', 'image_path')" />
                       <div class="preview-image" *ngIf="image_path != ''">

                       

                    <img class="dialog-picture" mat-card-image src="{{image_url}}{{image_path}}" alt="Photo" />


                    <button mat-icon-button aria-label="Close icon" (click)="removeMedia('image_path')">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
            <br/>&nbsp;&nbsp;&nbsp;
            <div fxFlex="50%" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">
                    <div fxFlex="50%" fxLayoutAlign="center center">
                        <button  type="button" mat-raised-button (click)="fileInputmp3.click()">{{audio_link}}</button>
                        <!--<input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx">-->
                        <input hidden #fileInputmp3 type="file" id="file" (change)="fileProgressaudio($event, 'audio_link', 'mp3_path')"  accept=".mp3"/>
                    </div>  
                    <br/>
                    <br/>
                    <br/>
                    <div fxFlex="50%" fxLayoutAlign="center center">  
                        <div class="preview-image" *ngIf="mp3_path != ''">                   
                            <audio controls >
                            <source src="{{image_url}}{{mp3_path}}" type="audio/mp3">
                            </audio>
                            <hr>                   
                        </div>
                    </div>
                </div>
                <!-- <div class="preview-image" *ngIf="pdf_path != ''">
                    <img class="dialog-picture" mat-card-image src="{{image_url}}{{pdf_path}}" alt="Photo" />
                    <button mat-icon-button aria-label="Close icon" (click)="removePdf('pdf_path')">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>-->
            </div>
        </div>
        <br/>
        <!--<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start start">
            <div fxFlex="100%">
                <angular-editor id="editor1" required formControlName="description" [config]="editorConfig" ></angular-editor>
            </div>
        </div>-->
        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="start start">
            <div fxFlex="50%">
                <mat-form-field appearance="outline" fxFlex="100%">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option value="1">Active</mat-option>
                        <mat-option value="0">In-Active</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <br/>
        
        <div fxLayout="row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="end center">
            <button mat-stroked-button [mat-dialog-close]="false" class="icon-bottom-close">Cancel</button>&nbsp;&nbsp;&nbsp;
            <button mat-stroked-button type="submit" [disabled]="loading" class="icon-bottom-save">Save</button>
            <mat-progress-spinner class="example-margin" *ngIf="loading" [mode]="'indeterminate'" [strokeWidth]="3" [diameter]="25">
            </mat-progress-spinner>
        </div>
    </form>
</mat-dialog-content>