<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>      
        <!--<div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> Quote Text</button>
        </div>-->
        <mat-list>
            <ng-container *ngFor="let data of result">
                <mat-list-item>
                    <!--<button mat-icon-button aria-label="label" (click)="openDialog(data.user_id, 'result')">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="label" (click)="confirmDelete(data.user_id)">
                        <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                    </button>
                    <img matListAvatar src="{{image_url}}{{data.imageurl}}" *ngIf="data.imageurl && data.imageurl != ''" alt="image" (click)="imageView(data, 'preview')" />-->
                    <button mat-icon-button aria-label="label" (click)="openDialog(data.quote_id, 'result')">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                    <!--<button mat-icon-button aria-label="label" (click)="openConfirmationDialog(data.quote_id)">
                        <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                    </button>-->
                    <h4 mat-line [innerHTML]="data.quote_text"></h4>    
                    <!-- <h4 mat-line [innerHTML]="data.quote_author"></h4>                  -->
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
       <!-- <button (click)="openConfirmationDialog()" type="button" class="btn btn-primary">Open dialog</button>-->
       
        <ngx-spinner bdColor="rgba(0, 0, 0, 0)" name="sp3" [fullScreen]="false" type="ball-spin-clockwise" color = "#1d94cd"  size="medium" *ngIf="loading"><p style="color: darkblue" > Loading... </p></ngx-spinner>
    </mat-sidenav-content>
</mat-sidenav-container>


