<mat-sidenav-container fullscreen>
    <mat-sidenav mode="side" opened cdkScrollable class="primary">
        <app-sidenav></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header></app-header>   
       <!-- <div class="add-btn-container">
            <button mat-raised-button color="primary" (click)="openDialog(0, 'null')"><mat-icon>add</mat-icon> About Church</button>
        </div>-->
        <mat-tab-group (selectedTabChange)="onTabChanged($event);">
            <mat-tab label="தமிழ்">
        <mat-list>
            <ng-container *ngFor="let data of result">
                <mat-list-item>
                   
                    <img matListAvatar src="{{image_url}}{{data.about_image}}" *ngIf="data.about_image && data.imageurl != ''" alt="image" (click)="confirmDialog(data, 'preview')" />
                    <button mat-icon-button aria-label="label" (click)="openDialog(data.about_id, 'result')">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                   <!-- <button mat-icon-button aria-label="label" (click)="openConfirmationDialog(data.about_id)">
                        <mat-icon #tooltip="matTooltip" matTooltip="Delete">delete</mat-icon>
                    </button>-->
                    <h4 mat-line [innerHTML]="data.about_tittle"></h4>                    
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-tab>
    <mat-tab label="English">
        <mat-list>
            <ng-container *ngFor="let data of result">
                <mat-list-item>
                    <img matListAvatar src="{{image_url}}{{data.about_image}}" *ngIf="data.about_image && data.imageurl != ''" alt="image" (click)="confirmDialog(data, 'preview')" />
                    <button mat-icon-button aria-label="label" (click)="openDialog(data.about_id, 'result')">
                        <mat-icon #tooltip="matTooltip" matTooltip="Edit">edit</mat-icon>
                    </button>
                    <h4 mat-line [innerHTML]="data.about_tittle"></h4>                    
                </mat-list-item>
                <mat-divider></mat-divider>
            </ng-container>
        </mat-list>
    </mat-tab>
    </mat-tab-group> 
    <ngx-spinner bdColor="rgba(0, 0, 0, 0)" name="sp3" [fullScreen]="false" type="ball-spin-clockwise" color = "#1d94cd"  size="medium" *ngIf="loading"><p style="color: darkblue" > Loading... </p></ngx-spinner>

    </mat-sidenav-content>
</mat-sidenav-container>


